node_modules

# env / secrets
.env
.env.local
.env.*.local

# Hardhat
packages/blockchain/artifacts
packages/blockchain/cache
packages/blockchain/typechain-types
packages/blockchain/coverage
packages/blockchain/coverage.json

# Site
packages/site/dist

# IDE
.vscode
.idea
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Misc
*.log